<?php
/* -----------------------------------------------------------------------------------------------
 * Memcached Development Configuration (Sample)
 *
 * This file is meant to be copied without the ".sample" file extension but in the same directory.
 * After copying, replace the values below with your own values. The `pool` setting is a string in
 * the following format: `host:port(,host:port)*` (the first host and port pair is necessary and
 * you can optionally add more). The `username` and `password` settings are optional.
 * -----------------------------------------------------------------------------------------------*/

return array(
  'pool' => 'localhost:11211',
  'username' => null,
  'password' => null
);
